.Rproj.user
.Rhistory
.Rprofile

.Ruserdata
.DS_Store
*.Rproj

#ignore source CLIF_ files
CLIF_*.parquet
CLIF_*.csv
CLIF_*.fst

config.json

# ignore the renv intialization file
initialize_renv.R

# ignore filtered CLIF tables stored as Rdata
*.RData

# ignore pdf reports 
*.pdf

# ignore rendered html
*.html