.Rproj.user
.Rhistory

.Ruserdata
.DS_Store
*.Rproj

#ignore source CLIF_ files 
CLIF_*.parquet
CLIF_*.csv
CLIF_*.fst

# ignore filtered CLIF tables stored as Rdata
*.RData

# ignore pdf reports 
*.pdf

# ignore rendered html
*.html